<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>rb0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {66, 96}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{15, 0}, {66, 96}}</string>
			<key>sourceSize</key>
			<string>{96, 96}</string>
		</dict>
		<key>rb0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 98}, {84, 96}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{6, 0}, {84, 96}}</string>
			<key>sourceSize</key>
			<string>{96, 96}</string>
		</dict>
		<key>rb0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 195}, {85, 96}}</string>
			<key>offset</key>
			<string>{0.5, -0}</string>
			<key>sourceColorRect</key>
			<string>{{6, 0}, {85, 96}}</string>
			<key>sourceSize</key>
			<string>{96, 96}</string>
		</dict>
		<key>rb0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{68, 1}, {78, 96}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{9, 0}, {78, 96}}</string>
			<key>sourceSize</key>
			<string>{96, 96}</string>
		</dict>
		<key>rb0005.png</key>
		<dict>
			<key>frame</key>
			<string>{{226, 1}, {79, 96}}</string>
			<key>offset</key>
			<string>{0.5, -0}</string>
			<key>sourceColorRect</key>
			<string>{{9, 0}, {79, 96}}</string>
			<key>sourceSize</key>
			<string>{96, 96}</string>
		</dict>
		<key>rb0006.png</key>
		<dict>
			<key>frame</key>
			<string>{{147, 1}, {78, 96}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{9, 0}, {78, 96}}</string>
			<key>sourceSize</key>
			<string>{96, 96}</string>
		</dict>
		<key>rb0007.png</key>
		<dict>
			<key>frame</key>
			<string>{{171, 98}, {84, 96}}</string>
			<key>offset</key>
			<string>{3, -0}</string>
			<key>sourceColorRect</key>
			<string>{{9, 0}, {84, 96}}</string>
			<key>sourceSize</key>
			<string>{96, 96}</string>
		</dict>
		<key>rb0008.png</key>
		<dict>
			<key>frame</key>
			<string>{{306, 1}, {84, 96}}</string>
			<key>offset</key>
			<string>{6, -0}</string>
			<key>sourceColorRect</key>
			<string>{{12, 0}, {84, 96}}</string>
			<key>sourceSize</key>
			<string>{96, 96}</string>
		</dict>
		<key>rb0009.png</key>
		<dict>
			<key>frame</key>
			<string>{{86, 98}, {84, 96}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{6, 0}, {84, 96}}</string>
			<key>sourceSize</key>
			<string>{96, 96}</string>
		</dict>
		<key>rb0010.png</key>
		<dict>
			<key>frame</key>
			<string>{{256, 98}, {84, 96}}</string>
			<key>offset</key>
			<string>{3, -0}</string>
			<key>sourceColorRect</key>
			<string>{{9, 0}, {84, 96}}</string>
			<key>sourceSize</key>
			<string>{96, 96}</string>
		</dict>
		<key>rb0011.png</key>
		<dict>
			<key>frame</key>
			<string>{{391, 1}, {84, 96}}</string>
			<key>offset</key>
			<string>{3, -0}</string>
			<key>sourceColorRect</key>
			<string>{{9, 0}, {84, 96}}</string>
			<key>sourceSize</key>
			<string>{96, 96}</string>
		</dict>
		<key>rb0012.png</key>
		<dict>
			<key>frame</key>
			<string>{{341, 98}, {84, 96}}</string>
			<key>offset</key>
			<string>{3, -0}</string>
			<key>sourceColorRect</key>
			<string>{{9, 0}, {84, 96}}</string>
			<key>sourceSize</key>
			<string>{96, 96}</string>
		</dict>
		<key>rb0013.png</key>
		<dict>
			<key>frame</key>
			<string>{{426, 98}, {84, 96}}</string>
			<key>offset</key>
			<string>{3, -0}</string>
			<key>sourceColorRect</key>
			<string>{{9, 0}, {84, 96}}</string>
			<key>sourceSize</key>
			<string>{96, 96}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>
